.sidebar{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgb(179, 179, 179);
}


.sideBarListItem{
    display: block;
    padding-left: 10px;
    padding-top: 20px;
}

i > a{
    color: rgb(240, 240, 240);
    padding-left: 5px;
}

li > .fas{
    color: rgb(240, 240, 240);
}


.btn{
    background-color: none;
}

.userlooged{
    justify-content: center;
    color: antiquewhite;
}